table {
    border-collapse: collapse;
}
td{
    border: solid lightgray;
    padding: 10px;
}

caption {
    caption-side: bottom;
}

th {
    border-bottom: solid black 2px;
    padding: 10px;
}